.numbers-operators {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

button {
	font-size: 25px;
	text-shadow: 0px 0px 2px;
}

.num0 {
	width: 140px;
	border-radius: 0px 0px 0px 10px;
}

.numbers {
	grid-column: span 3;
	/* background-color: hotpink; */
}

.ac {
	grid-column: span 1;
}

.operators {
	grid-column: span 2;
	/* background-color: green; */
}

.equal {
	height: 140px;
	border-radius: 0px 0px 10px 0px;
}
