.numbers-operators {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.num0 {
	width: 140px;
}

.numbers {
	grid-column: span 3;
	/* background-color: hotpink; */
}

.ac {
	grid-column: span 1;
}

.operators {
	grid-column: span 2;
	/* background-color: green; */
}

.equal {
	height: 140px;
}
