.App {
	width: 250px;
	border: 1px solid #000;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 100px;
	/* text-align: right; */
}

.display {
	grid-column: span 4;
	height: 100px;
	text-align: right;
	overflow-x: scroll;
	/* overflow: hidden; */
}

/* .numpad {
	grid-column: span 2;
} */

.current-input {
	margin-top: 20px;
	font-size: 30px;
}

.userInput {
	color: gray;
	margin-top: 10px;
}

.result {
	color: gray;
	/* margin-top: 10px; */
}
